.dashboard {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    background: #fff;
}

.dashboard .top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dashboard .wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80vw;
    height: 480px;
    background: #f7f7f7;
    /* color:#000; */
    border-radius: 10px;
    padding: 30px 40px;
}

/* .dashboard .main {
    display: flex;
} */

.dashboard .wrapper .input-box {
    position: relative;
    /* width: 15vw; */
    height: 50px;
    display: inline-block;
    margin: 30px 0;
    margin-right: 2rem;
}

.dashboard .input-box input {
    width: 100%;
    height: 30%;
    background: #fff;
    border: none;
    outline: none;

    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;

}

.dashboard .wrapper .input-box i {
    position: absolute;
    color: #000000;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20px;
}

.dashboard .wrapper .btn {
    width: 10vw;
    height: 30px;
    border-radius: 5px;
    margin-top: 35px;
    background-color: #F8492D;
    color: #fff;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    float: inline-end;
}

.dashboard .wrapper .btn i {

    margin-right: 15px;


}

.dashboard .user-image img {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: -90px;
}

.dashboard .main-text h1 {
    color: #000;
    margin-top: 50px;
    padding-left: 35px;
}

.dashboard .second-main {
    /* display: flex; */
    /* justify-content: space-around; */
    width: auto;
    /* height: 40px; */
    border-radius: 10px;
    background-color: #fff;
    padding: 0.5rem 1rem;
    color: #000;
    margin-bottom: 1rem;
}

.dashboard .second-main .green {
    display: inline;
    float: right;
}

.dashboard .second-main .green img {
    width: 10px;
    height: 10px;
    margin-right: 1rem;
}

.dashboard .current-client {
    font-size: 14px;
    display: inline;
}

.dashboard .second-main .dot {
    display: inline;
    float: right;
}