.pop-up .main {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7f7f7;
    color: black;
}

.pop-up .wrapper {
    background-color: #fff;
    height: 320px;
    width: 520px;
    padding: 20px 20px 20px 50px;
}

.pop-up .wrapper h1 {
    font-size: 20px;
    color: #F8492D;
    margin-bottom: 20px;
}

.pop-up .wrapper p {
    font-size: 16px;
    margin-bottom: 40px;
}

.pop-up .wrapper input {
    background-color: #f7f7f7;
    border: none;
    height: 30px;
    width: 94%;
    border-radius: 5px;
    padding-left: 25px;
    margin-bottom: 20px;
}

.pop-up .wrapper .btn {
    background-color: #F8492D;
    color: #fff;
    border: none;
    height: 30px;
    width: 94%;
    border-radius: 5px;
}